.portfolioH2 {
    color: $primaryColor;
    font-size: 2.5em;
    padding-bottom: 10px;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48% 48%;
  /*justify-items: center; */
    align-items: center;
   justify-content: space-between;
    align-content: space-evenly; 
    grid-row-gap: 50px;
    padding: 0 0 30px 0;
}

.container a {
    text-decoration: none;
    color: $primaryColor;
}

.portfolioItem {
    margin-bottom: 10px;
    width: 100%;
}

.portfolioItem img {
    width: 100%;
    border: $mainBorder;
}

.portfolioP1, .portfolioP2 {
    text-align: center;
    font-size: $ParagraphFontSize;
}

.portfolioP1 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

.portfolioP2 {
    color: $secondaryColor;
    font-size: 80%;
    padding-bottom: 20px;
}
