$primaryColor: #333333;
$secondaryColor: grey;
$thirdColor: lightgrey;
$highlightColor: #264d73;

$headingFont: 'Do Hyeon', sans-serif;
$textFont: 'Lato', sans-serif;

$mainPadding: 25px;
$mainMargin: 50px;

$H2FontSize: 1.8em;
$H3FontSize: 1.2em;
$ParagraphFontSize: 1em;

$mainBorder: 3px solid $primaryColor;

