@import "variables";
@import "home";
@import "profiles";
@import "portfolio";
@import "media";

*{
	margin: 0;
	padding: 0;
}

/* Used to push the footer always on bottom*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $textFont;
  font-size: 1.2em;
}
main {
  flex: 1;
  width: 80%;
  margin: 0 auto;
}

header, footer {
	width: 100%;
}


section {
  padding: 20px 0;
  margin-bottom: 50px;
}

h1 {
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: $thirdColor;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px){
  
main {
  width: 99%;
}

}


@media only screen and (max-width: 490px){

h1 {
  font-size: 2.5em;
}

}